/data/222_maze_log_old_1633978527.4897459.txt
/config/222_maze_themes.csv
/data/223_maze_log.csv
/config/223_maze_seq.csv
/config/223_maze_themes.csv
/config/333_maze_themes.csv
/config/1111_maze_themes.csv
/data/1112_maze_log.csv
/config/1112_maze_seq.csv
/config/1112_maze_themes.csv
/config/2333_maze_themes.csv
/config/3333_maze_themes.csv
/config/33333_maze_seq.csv
/config/33333_maze_themes.csv
/text msg test.py
/assets/.idea/workspace.xml
